.feature {
    margin: 20px;
    padding: 15px;
    border: 2px solid oldlace;
    border-radius: 10px;
    text-align: left;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);

}

.feature img {
    width: 80px;
    height: 80px;
}

.remote-full {
    display: flex;

}

.remote-full div {
    border: 2px solid purple;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
}

.location-salary {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.location-salary div {
    margin-right: 20px;
}